1) a. variables in python                                                       
variables are the location or a name, that can able to store a data interms of int, float, string etc                                                          
ex: name="charan"

1) b. difference btw variable and constant                                      
variables are the location or a name, that can able to store a data interms of int, float, string etc                                                          
constant are the fixed value we can not alter that. there is no constant in python

 2 a) & b)
   Datatypes

In [2]:
x=50
type(x)

int

In [3]:
y=99.9
type(y)

float

In [4]:
name="Pavan"
type(name)

str

In [5]:
a=10
b=a>4
type(b)

bool

 3a)Arithmatic operations

In [6]:
#1.addition
a=10
b=5
result=a+b
print(result)

15

In [7]:
# 2.substraction
a=10

b=5
result=a-b
print(result)

5

In [8]:
# 3.multiplication
a=10
b=5
result=a*b
print(result)

50

In [9]:
# 4.division
a=10
b=5
result=a/b
print(result)

2.0

In [10]:
# 5.modulo
a=10
b=3
result=a%b
print(result)

1

In [12]:
# 6.exponentation
a=2
b=3
result=a**b
print(result)

8

In [13]:
# 7.floor division
a=10
b=3
result=a//b
print(result)

3

 3 b)area of rectangle

In [15]:
l=10
w=20
area=l*w
print(area)

200

 4 a)Comparision and logical operation

In [ ]:
#  1.equal
a=5
b=5
a==5

True

In [ ]:
#  2.not equal
a=5
b=5
a!=5

False

In [ ]:
#  3.greater than
a=5
b=3
a>b

True

In [ ]:
#  4.lesser than
a=5
b=3
a<b

False

In [ ]:
#  3.greater than or equal
a=5
b=3
a>=b

True

In [ ]:
#  3.less than or equal
a=10
b=30
a<=b

True

4) b. using logical operator write a python script that check if a num is positive and even

In [ ]:
num=int(input("enter a number"))
if num>0 and num%2==0:
    print("the number is positive and even")
else :
    print("the number is not positive and even")

enter a number33
the number is not positive and even

5) a. type casting                                                              
converting one type of data into anther type                                    
implicit: automatically it convert one type into another type of data           
ex: a=10   b=5.5
     r=a+b                                                                      
explicit: manually we convert the data type of a variable                       
ex: a="1000"          
r=int(a)

5 b)python script for

In [ ]:
# 1.convert float to an int
x=55.55
y=int(x)
print(y)
type(y)

55

int

In [ ]:
# 1.convert int to an str
x=1000
b=str(a)
print(b)
type(b)

10

str

In [ ]:
# 1.convert str to an float
a="123.5"
b=float(a)
print(b)
type(b)

123.5

float

6) write a python script for..

In [ ]:
# 1.adding two num
x=20
y=5
result=x+y
print(result)

25

In [ ]:
# 2.sub
x=20
y=5
result=x-y
print(result)

15

In [ ]:
# 3.multiply two num
x=20
y=5
result=x*y
print(result)

100

In [ ]:
# 4.division
x=20
y=5
result=x/y
print(result)

4.0

In [ ]:
# 5.convert the sum of the num to a str and print the type of result
a=1000
b=2000
result=a+b
str(result)
type(str(result))

str